# Predicting Significant Flight Delays using Supervised Learning

In this notebook I present my work in ___________________________.

## Business Understanding

Many consultants travel frequently over long distances for business purposes. Managers at a consulting firm might be interested in how to minimize -------------------------- risk when booking flights. One pertinent concern for these managers is how to reduce the risk of significant flight delay to ensure that consultants can utilize air travel reliably and efficiently.

My goal is to predict whether a given flight will be significantly delayed given several known factors about the flight such as airline, scheduled time of departure, and ---------------------------------. An effective model of this kind will assist managers in understanding ---------------------- so that they can make more informed decisions when booking flights.

## Data Understanding

This element assesses how well students demonstrate the utility of their data for helping solve a business
problem. We frame utility in terms of the properties, source, and business relevance of the data.
* This element assesses the demonstration of the data’s utility, not the utility itself

Data Understanding: Notebook clearly describes the source and properties of the data to show how useful the data are for solving the problem of interest.
* Describe the data sources and explain why the data are suitable for the project
* Present the size of the dataset and descriptive statistics for all features used in the analysis
* Justify the inclusion of features based on their properties and relevance for the project
* Identify any limitations of the data that have implications for the project
------------------------------------------------------------------------------------------

I obtained data for use by the public domain from https://www.kaggle.com/datasets/robikscube/flight-delay-dataset-20182022. Each row pertains to a flight --------------------. The data includes several promising features such as --------------------------------.

I will bulid my model using a random sample from a year's worth of raw data spanning from August 2021 to July 2022.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sample.csv')

C:\Users\nnetznik\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (12,14,79,86,87) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,238810,2022,2,5,16,1,2022-05-16,AA,AA,19805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,94555,2021,4,12,22,3,2021-12-22,WN,WN,19393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,182050,2022,1,3,11,5,2022-03-11,AA,AA,19805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,324984,2022,2,4,22,5,2022-04-22,DL,DL,19790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,263113,2022,2,5,22,7,2022-05-22,AS,AS,19930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

### Data Cleaning and Feature Selection

In [4]:
# Remove a few columns that are nearly entirely null, as well as columns pertaining to flight diversion
to_drop = list(range(12, 16)) + [59] + list(range(71,121))
df.drop(df.columns[to_drop], axis=1, inplace=True)

# Figure out what to do with cancelled flights - do we eliminate them or count them as "significant delays"?